<h3>{{productsCount}} Products in Store</h3>

<ul *ngFor="let product of products; index as productId">
    <li>
        <a [routerLink]="['product/' + productId]"
           [title]="product.name + ' details'">{{product.name}}</a>
        
        <p *ngIf="product.description">{{product.description}}</p>
        <p *ngIf="!product.description">N/A</p>

        <button (click)="OnShareClicked(product)">Share</button>

        <app-product-alert [product]="product"
                           (notify)="OnNotifyClicked()"></app-product-alert>
    </li>
</ul>